<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
<table>
  <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Data de nascimento</th>
      <th>Tipo de Documento</th>
      <th>Documento</th>
      <th>Estado Civil</th>
      <th>Possui filhos</th>
      <th>Profissao</th>
      <th>Sexo</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>CEP</th>
      <th>Telefones</th>
  </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="7">No Records found. Add some...!</td>
    </tr>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.codigo}"></td>
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.dataNascimento}"></td>
        <td th:text="${cliente.tipoDocumento}"></td>
        <td th:text="${cliente.documento}"></td>
        <td th:text="${cliente.estadoCivil}"></td>
        <td th:text="${cliente.possuiFilhos}"></td>
        <td th:text="${cliente.profissao}"></td>
        <td th:text="${cliente.sexo}"></td>
        <td th:text="${cliente.endereco}"></td>
        <td th:text="${cliente.bairro}"></td>
        <td th:text="${cliente.cidade}"></td>
        <td th:text="${cliente.cep}"></td>
        <td th:text="${cliente.telefones}"></td>
        <td><a th:href="'/' + ${cliente.id}">✏</a></td>
  </tr>



</table>
</body>
</html>